.ProductShelf {
  display: flex;
  flex-direction: column;
}

.ProductShelf__title {
  display: flex;
}

.ProductShelf__card {
  display: flex;
  flex-direction: column;
}

.ProductShelf__card__productName {
  display: flex;
}

.ProductShelf__card__stars {
  display: flex;
}

.ProductShelf__card__imgWrapper {
  display: flex;
}

.ProductShelf__card__img {
  display: flex;
}

.ProductShelf__card__listPrice {
  display: flex;
}

.ProductShelf__card__price {
  display: flex;
}

.ProductShelf__card__installments {
  display: flex;
}

.ProductShelf__card__installments__quantity {
  display: flex;
}

.ProductShelf__card__installments__value {
  display: flex;
}

.ProductShelf__card__buyButtonContainer {
  display: flex;
}

.ProductShelf__card__buyButton {
  display: flex;
}
