.Carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Carousel__container {
  display: flex;
  transition: transform 0.5s ease;
}

.Carousel__prevBtn,
.Carousel__nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Carousel__prevBtn {
  left: 0;
}

.Carousel__nextBtn {
  right: 0;
}

/* Responsive settings */
@media (max-width: 768px) {
  .Carousel__container {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
