.ProductCard {
  display: flex;
  flex-direction: column;
  min-height: 353px;
  min-width: 216px;
  justify-content: space-between;
}

.ProductCard__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 146px;
}

.ProductCard__imgWrapper {
  display: flex;
}

.ProductCard__img {
  display: flex;
}

.ProductCard__productName {
  display: flex;
  color: #7a7a7a;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-height: 17px;
}

.ProductCard__starsWrapper {
  display: flex;
  min-height: 10px;
}

.ProductCard__stars {
  display: flex;
}

.ProductCard__listPrice {
  display: flex;
  color: #7a7a7a;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
}

.ProductCard__listPriceWrapper {
  display: flex;
  min-height: 14px;
}

.ProductCard__price {
  display: flex;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  min-height: 21px;
}

.ProductCard__installments {
  display: flex;
  color: #7a7a7a;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 12px;
}

.ProductCard__installments__quantity {
  display: flex;
}

.ProductCard__installments__value {
  display: flex;
}

.ProductCard__buyButtonContainer {
  display: flex;
  min-height: 33px;
}

.ProductCard__buyButton {
  display: flex;
  margin: 0;
  padding: 0;
  width: 125.28px;
  height: 32.418px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: #000;
  border: none;
}

.ProductCard__buyButton:hover {
  background: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.ProductCard__buyButtonLabel {
  display: flex;
  width: 70.56px;
  height: 16.569px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Nunito", sans-serif;
}
